HOST=0.0.0.0
PORT=8080
LOG_LEVEL=SUCCESS
FASTAPI_RELOAD=false
COMMAND_START=["/", ""]  # 配置命令起始字符
COMMAND_SEP=["."]  # 配置命令分割字符
htmlrender_browser = "chromium"         #默认使用chromium启动，出现问题了请改为"firefox"尝试

API_TOKEN = 123456:qwertyuiopasdfghjl  #请加群发送.token help获取api_key和token Q群:967546463，直接用邮件中的token替换前面这串字符串就行了，没有引号
SUPERUSERS=["1119809439"]       #替换为你自己的QQ号，确认与BOT是好友
USE_PLUGIN_GO_CQHTTP = true     #使用内嵌go-cqhttp插件，如果一直连不上请将此项值改为false，并按教程下载go-cqhttp
GOCQ_WEBUI_USERNAME=admin       #如果上一项设置为true，请将此处的账号修改为自定义，不配置账号和密码请删除这两项
GOCQ_WEBUI_PASSWORD=admin       #如果上一项设置为true，请将此处的密码修改为自定义，不配置账号和密码请删除这两项

private = false                 #开启私聊
group = true                    #开启群聊
channel = false                 #开启频道
all_channel = false             #是否全频道生效，无论此项配置如何，channel_list中的频道一定会开启
channel_list = []               #频道列表白名单，数组形式，可在控制台中获取相应的channel_id
ban_group_list = [967546463]    #群列表黑名单，默认屏蔽了开发者交流群
pupu = true                     #是否开启噗噗
check_cache = true              #是否开启缓存上报,可降低高峰期延迟,如果错误日志中频繁报错上报url:XXXXXXXX,请关闭此项或配置代理
proxy_on = false                #是否启用代理
proxy = http://localhost:7890   #代理地址，如果上面选项开启，这边替换为你本地的
ocr_on = true                   #是否开启ocr(识图指令)
ocr_offline = false             #是否只使用hash验证，即设置为true后只能识别服务器已记录的图片，如果群较多(>300)导致响应延迟较高可以开启
ocr_url = http://ocr.benx1n.com:23338           #默认ocr地址，一般不用动
http2 = true                    #是否开启http2，默认开启，如果有问题请设置为false